.font_section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

.font_heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;

  > h5 {
    font-weight: 800;
    font-size: 20px;
  }
  > p {
    color: var(--Text-secondary);
  }
}

.font_container {
  background-color: var(--White);
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
