.main_section {
  padding: 24px 0 48px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  > h3 {
    font-size: 24px;
    font-weight: 800;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.row {
  gap: 24px 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
