:root {
  --BG-color: #fffefc;
  --BG-contrast: #e4fbff;
  --Primary: #02a1d0;
  --Primary-light: #02a1d0;
  --Secondary: #e71423;
  --Secondary-light: #ff3846;
  --Text: #384046;
  --Text-secondary: #647277;
  --Text-tertiary: #d1e2e9;
  --Success: #02d086;
  --Error: var(--Secondary-light);
  --Promo: var(--Secondary-light);
  --Text-link: #172b71;
  --White: #fffefc;
  --UI-neutral: #eaeaea;
  --UI-secondary: #264f5e;
  --UI-tertiary: #7bdcff;
}
