.container {
  width: 260px;
  max-width: 260px;
  min-width: 260px;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
  padding: 24px 24px;
}
.top_container {
  width: 100%;
}

.subtitle {
  color: var(--Secondary);
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.separator {
  margin: 16px 0;
  height: 1px;
  width: 100%;
  background-color: var(--Text-tertiary);
}

.footer {
  width: 100%;
}

.social_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
